@model GitStatusViewModel
@{
    ViewData["Title"] = $"Projects for {Model.DirectoryFriendlyName}";
}

<div class="container">
    <div class="row">
        @foreach(GitStatusItem item in Model.GitRepos)
        {
            <div class="col-md-4" style="padding:15px;">
                <div class="col-md-12">
                    <h2>@item.FolderName</h2>
                </div>
                
                <div class="col-md-12">
                    <h4>@item.BranchName</h4>
                </div>
                <div class="col-md-12">
                    <div class="col">
                        <span><i class="fas fa-stream"></i> @item.StashCount</span>
                    </div>                    
                    <div class="col">
                        <span><i class="fas fa-stream"></i> @item.LastUpdated</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>