@model GitStatusViewModel
@{
    ViewData["Title"] = $"Projects for {Model.DirectoryFriendlyName}";
}

<div class="container">
    <div class="row">
        @foreach(GitStatusItem item in Model.GitRepos)
        {
            <div class="col-md-4" style="padding:15px;">
                <h3>@item.FolderName</h3>
                @item.BranchName
            </div>
        }
    </div>
</div>